/* Estilos Generales  ~ @hspencer */

@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:200,400,700,900&display=swap');

body {
    font-family: 'Hepta Slab', serif;
    background-image: linear-gradient(#848181, #403e3b);
    color: #ebebe7;
    margin: 0;
}

a {
    color: orange;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 1px #383535;
}

.tagline a{
    text-decoration: none;
    font-weight: 400;
    font-size: 30%;
}

.toc ol{
    background-color: #4b4b4b;
    padding: 1em 0;
    border-radius: .5ex;
}

.toc ol li{
    list-style-position: inside;
    color: white;
    margin-left: 2em;
}

.toc ol li a{
    font-size: 80%;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 2px 2px 1px #383535;
}

#container {
    margin: 3em auto;
    width: 80%;
    max-width: 600px;
    /*text-shadow: 1px 1px 0 #343433;*/
}

footer{
    background-color: black;
    font-size: 75%;
    padding: 2em;
}
