/* General Styles */

@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:200,400,700,900&display=swap');

:root {
  --spacer: 32px; 
}

body{
    font-family: 'Hepta Slab', serif;
    background-image: linear-gradient(#848181, #403e3b);
    color: #dddece;
    margin: 0;
}

a{
    color: white;
}

#container{
    margin: 3em auto;
    width: 70%;
    max-width: 600px;
    text-shadow: 1px 1px 0 #343433;
}
